:root {
    --grid-rows: 1;
    --grid-cols: 1;
  }

* {
    box-sizing: border-box;
}

.container {
    display: grid;
    width: 0;
   
    /*grid-template-columns: repeat(16, 35px [col-start]);*/
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    
}

/*.square:hover {
    background-color: green;
}*/
